<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triee</title>
</head>
<body>
    <p><%= __('index_welcome_message') %></p>
    <a href="/login"><%= __('index_to_login') %></a>

    <a href="/change-lang/en">English</a>
    <a href="/change-lang/kr">한국어</a>
</body>
</html>

