<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triee</title>
</head>
<body>
    <p><%= __('index_welcomeMessage') %></p>
    <a href="/login"><%= __('index_toLogin') %></a>

    <%- include('footer.ejs') %>
</body>
</html>

