<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triee</title>
</head>
<body>
    <form>
        <input type="text" name="username" placeholder="<%= __('login_usernamePlaceholder') %>">
    <br>
        <input type="password" name="password" placeholder="<%= __('login_passwordPlaceholder') %>">
    <br>
        <input type="submit" value="<%= __('login_clickToSubmit') %>">
    </form>

    <%- include('footer.ejs') %>
</body>
</html>

