<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triee</title>
</head>
<body>
    <input type="text" name="userId" placeholder="<%= __('login_id_is') %>">
    <input type="text" name="userPassword" placeholder="<%= __('login_password_is') %>">

    <%- include('footer.ejs') %>
</body>
</html>

