<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triee</title>
</head>
<body>
  <input type="text" name="userId" placeholder="<%= __('login_id_is') %>">
  <input type="text" name="userPassword" placeholder="<%= __('login_password_is') %>">

  <a href="/change-lang/en-US">English</a>
  <a href="/change-lang/kr-KR">한국어</a>
</body>
</html>